<template>
    <form-item-dialog />
    <v-container>
        <v-btn color="info" @click="store.popupDialog = true">
            New Product
        </v-btn>
    </v-container>
    <v-table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="n in store.products" :key="n.id">
                <th>{{ n.id }}</th>
                <th>{{ n.name }}</th>
                <th>{{ n.price }}</th>
                <th>{{ n.category }}</th>
                <th><v-img :src="n.urlImg" :lazy-src="n.urlImg">
                        <v-tooltip activator="parent">
                            {{ n.name }}
                        </v-tooltip>
                    </v-img></th>
                <th><v-icon icon="$edit" @click="openEditDialog(n)"></v-icon>
                </th>
                <th><v-icon icon="$delete" @click="store.removeItem(n)"></v-icon></th>
            </tr>
        </tbody>
    </v-table>
</template>

<script setup lang="ts">
import FormItemDialog from '@/components/FormItemDialog.vue';
import type { Product } from '@/models/product';
import { useMockupStore } from '@/stores/mockup';

const store = useMockupStore()

const openEditDialog = (item: Product) => {
    store.editItem(item)
    store.popupDialog = true
}

</script>