
<script setup lang="ts">

import ProductContent from '../components/ProductContent.vue'
import ProcessingCard from '../components/ProcessingCard.vue'
</script>

<template>
    <v-row no-gutters>
        <v-col>
            <ProductContent />
        </v-col>
        <v-col cols="4">
            <ProcessingCard />
        </v-col>
    </v-row>
</template>
