<template>
    <v-dialog v-model="store.popupDialog" persistent width="1024">
        <v-card>
            <v-card-title>
                <span class="text-h5" v-if="store.initProduct.id > 0">Edit Product</span>
                <span class="text-h5" v-else>Add Product</span>
            </v-card-title>
            <v-card-subtitle>
                <h2 v-if="store.initProduct.id > 0">Product ID: {{ store.initProduct.id }}</h2>
            </v-card-subtitle>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field label="Name*" required v-model="store.initProduct.name"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field type="number" label="Price*" hint="example of helper text only on focus" required
                                v-model="store.initProduct.price"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-select :items="store.menu" label="Categories*" required
                                v-model="store.initProduct.category"></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field label="Url Image*" hint="example of helper text only on focus" required
                                v-model="store.initProduct.urlImg"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red-darken-1" variant="text" @click="store.popupDialog = false">
                    Close
                </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="store.save">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup lang="ts">
import { useMockupStore } from '@/stores/mockup';

const store = useMockupStore()

</script>