<script setup lang="ts">
</script>

<template>
    <v-navigation-drawer expand-on-hover class="ml-1">
        <v-list>
            <v-list-item prepend-avatar="https://gitlab.com/uploads/-/system/user/avatar/15029878/avatar.png?width=400"
                title="Aphidech Mahakoat" subtitle="65160312@go.buu.ac.th"></v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list density="compact" nav>
            <v-list-item prepend-icon="mdi-store" title="Point of Sale" value="pos" to="/"></v-list-item>
            <v-list-item prepend-icon="mdi-food" title="Menu Management" value="menu" to="/menu"></v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>