
<script setup lang="ts">
import SelectionItemTables from '../components/SelectionItemTables.vue'
import { useSelectionTab } from '@/stores/selection';

const store = useSelectionTab()
</script>

<template>
    <v-card class="pa-2" fill>
        <SelectionItemTables />
        <v-btn block class="mt-5" color="blue" @click="store.makeProcess">
            proceed
        </v-btn>
        <v-btn block class="mt-3" color="red" @click="store.clearItem">
            clear
        </v-btn>
    </v-card>
</template>
