<script setup lang="ts">
import { useMockupStore } from '@/stores/mockup';
import { useSelectionTab } from '@/stores/selection';
import { inject } from 'vue';

const { menu, selectedFilter, } = inject('menu') as { menu: string[], selectedFilter: string[] };

const store = useMockupStore()

const selectStore = useSelectionTab()

</script>

<template>
    <div v-if="selectedFilter.length > 0">
        <v-container v-for="n in selectedFilter" :key="n" :value="n" fluid>
            <h2>{{ n }}</h2>
            <v-container fluid>
                <v-row>
                    <v-col v-for="i in store.getProductsByCategory(n)" :key="i.id" cols="12" md="2">
                        <v-card @click="selectStore.addItem(i)" class="text-center">
                            <v-img :src="i.urlImg" :lazy-src="i.urlImg" aspect-ratio="1">
                                <template v-slot:placeholder>
                                    <div class="d-flex align-center justify-center fill-height">
                                        <v-progress-circular color="grey-lighten-4" indeterminate></v-progress-circular>
                                    </div>
                                </template>
                            </v-img>
                            <p> {{ i.name }}</p>
                            <p> {{ i.price }} ฿</p>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-container>
    </div>
    <div v-else>
        <v-container v-for="n in menu" :key="n" :value="n" fluid>
            <h2>{{ n }}</h2>
            <v-container fluid>
                <v-row>
                    <v-col v-for="i in store.getProductsByCategory(n)" :key="i.id" cols="12" md="2">
                        <v-card @click="selectStore.addItem(i)" class="text-center">
                            <v-img :src="i.urlImg" :lazy-src="i.urlImg" aspect-ratio="1" cover>
                                <template v-slot:placeholder>
                                    <div class="d-flex align-center justify-center fill-height">
                                        <v-progress-circular color="grey-lighten-4" indeterminate></v-progress-circular>
                                    </div>
                                </template>
                            </v-img>
                            <p> {{ i.name }}</p>
                            <p> {{ i.price }} ฿</p>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-container>
    </div>
</template>