<template>
    <v-chip-group v-model="selectedFilter" multiple>
        <v-chip filter v-for="item in menu" :key="item" :value="item"> {{ item }}</v-chip>
    </v-chip-group>
    <ProductGroup />
</template>

<script setup lang="ts">
import { provide } from 'vue';
import { ref } from 'vue';
import ProductGroup from '../components/ProductGroup.vue';

const menu = ref<string[]>(['Foods', 'Drinks', 'Bakery'])

const selectedFilter = ref<string[]>([])

provide('menu', { menu, selectedFilter })

</script>
