<template>
    <v-card title="Selection Items">
        <v-table fixed-header style="overflow-y: auto;height: 70vh;">
            <thead>
                <tr>
                    <th class="text-left">
                        Name
                    </th>
                    <th class="text-left">
                        Qty
                    </th>
                    <th class="text-left">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in store.items" :key="item.product.id">
                    <td>{{ item.product.name }}</td>
                    <td> <v-text-field v-model="item.qty" type="number" min="1"
                            @input="store.updateQuantity(item)"></v-text-field></td>
                    <td>{{ item.product.price }}</td>
                    <td> <v-icon color="red" icon="$delete" @click="store.removeItem(item)"></v-icon> </td>
                </tr>
            </tbody>
        </v-table>
        <v-container>
            <v-row>
                <v-col>
                    Total: {{ store.total }}
                </v-col>
            </v-row>
            <v-row>
                <v-alert v-model="store.processState" icon="mdi-check" color="success">
                    Process completed !
                </v-alert>
            </v-row>
        </v-container>
    </v-card>
</template>

<script setup lang="ts">
import { useSelectionTab } from '@/stores/selection';

const store = useSelectionTab()

</script>
