<script setup lang="ts">
import NavDrawer from './components/NavDrawer.vue';

</script>

<template>
  <v-app>
    <v-layout>
      <nav-drawer />
      <v-main app fill-height>
        <v-container fluid fill-height>
          <RouterView />
        </v-container>
      </v-main>
    </v-layout>
  </v-app>
</template>

